<body>
        <div style="height: 100vh;width: 100%;">
            <h1 style="margin-top: 50vh;text-align: center;width: 100%;"> 
                Det tar typ en kvart.
            </h1>
        </div>
</body>
